<footer class="footer container">
    <div class="company-logo">
        <svg class="footer-svg-logo" width="16" height="16">
           <use href="/src/img/icons/svg-sprite.svg#icon-logo-2"></use>
        </svg>
       <svg class="footer-svg-logo" width="148" height="12">
           <use href="/src/img/icons/svg-sprite.svg#icon-logo-1" ></use>
       </svg>
       </div>


<p class="footer-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>

<div>
    <ul class="footer-links">
        <li class="footer-links-item">how it works</li>
        <li class="footer-links-item">vegetables</li>
        <li class="footer-links-item">reviews</li>
    </ul>
</div>

<div>
    <address> 
        <ul class="adress-list">
            <li><a href="tel:+380684439426" class="adress-list-link">+380 (68) 443-94-26</a></li>
            <li class="adress-list-item">1678 S. Pioneer Road Salt Lake City UT 84104</li>
        </ul>

    </address>
</div>

</footer>
