<footer class="footer container">
<div class="footer-container">
    <div class="footer-tablet">
    <svg class="sec-logo-svg" width="16" height="16">
        <use href="./img/icons/svg-sprite.svg#icon-logo-1"></use>
    </svg>
    <svg class="sec-logo-svg" width="148" height="12">
        <use href="./img/icons/svg-sprite.svg#icon-logo-2"></use>
    </svg>

<p class="footer-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
</div>
<div> 
<ul class="footer-links">
        <li class="footer-links-item">how it works</li>
        <li class="footer-links-item">vegetables</li>
        <li class="footer-links-item">reviews</li>
    </ul>

<div class="adress-div">
    <address> 
        <ul class="adress-list">
            <li><a href="tel:+380684439426" class="adress-list-link">+380 (68) 443-94-26</a></li>
            <li class="adress-list-item">1678 S. Pioneer Road Salt Lake City UT 84104</li>
        </ul>
    </address>

</div>
    </div>
        </div>

<div>
    <ul class="bottom-links">
    <li class="bottom-links-item"><a href="./index.html">Privicy policy</a></li>
    <li><span>/</span></li>
    <li class="bottom-links-item"><a href="./index.html">Cookie settings</a></li>
    <p class="bottom-company">©Green Harvest 2023</p>
</div>


</footer>
