<header class="header js-header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a class="logo" href="./index.html">
        <svg class="logo-img" height="16" width="16" aria-label="icon logo">
          <use href="./img/icons/svg-sprite.svg#icon-logo"></use>
        </svg>
        <svg
          class="logo-img-name"
          height="16"
          width="168"
          aria-label="logo text"
        >
          <use href="./img/icons/svg-sprite.svg#icon-logo-text"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="button secondary" href="#about">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="button secondary" href="#vegetables">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="button secondary" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <button class="mobile-menu-btn" type="button" data-action="open-menu">
      <svg
        class="mobile-menu-icon"
        height="32"
        width="32"
        aria-label="Mobile menu open button"
      >
        <use href="./img/icons/svg-sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <button class="button primary" type="button" data-action="open-modal">
      Shop now
    </button>
  </div>
</header>
