<section class="hero">
    <div class="container container-hero">
        <h1 class="hero-title">organic vegetables to your diet today!</h1>
        <p class="hero-text">
            Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.
        </p>
    </div>
    <div>
        <picture>
            <source media="(min-width: 1280px )" srcset="./img/hero/hero-desk-1x-min.jpg 1x, ./img/hero/hero-desk-2x-min.jpg 2x"
            />
            <source media="(min-width: 768px)" srcset="./img/hero/hero-tab-1x-min.jpg 1x, ./img/hero/hero-tab-2x-min.jpg 2x"
            />
            <source media="(max-width: 767px)" srcset="./img/hero/hero-phone-1x-min.jpg 1x, ./img/hero/hero-phone-2x-min.jpg 2x"
            />
            <img
            class="hero-img"
            src="../img/hero/hero-desk-1x-min.jpg"
            alt="vegetables"
            width="650"
            height="800"
            />
          </picture>
    </div>
</section>
