<!-- mobile menu -->
<div class="mobile-menu-bg" data-menu>
  <div class="mobile-menu-overlay">
    <button class="close-menu-btn" type="button" data-action="close-menu">
      <svg class="menu-icon" height="32" width="32">
        <use href="./img/icons/svg-sprite.svg#icon-cross"></use>
      </svg>
    </button>

    <ul class="nav-list-mob">
      <li class="nav-item-mob">
        <a class="button secondary js-mobile-menu-link" href="#about"
          >How It Works</a
        >
      </li>
      <li class="nav-item-mob">
        <a class="button secondary js-mobile-menu-link" href="#vegetables"
          >Vegetables</a
        >
      </li>
      <li class="nav-item-mob">
        <a class="button secondary js-mobile-menu-link" href="#reviews"
          >Reviews</a
        >
      </li>
    </ul>

    <button
      class="mob-menu-btn button primary"
      type="button"
      data-action="open-modal"
    >
      Shop now
    </button>
  </div>
</div>
