<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green Harvest</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <load src="partials/header.html" />

    <main> -->
<section class="section order">
  <div class="container">
    <h2 class="section-title">
      Fresh <span class="excerpt secondary">Harvest</span> Box has got you
      covered
    </h2>
    <p class="section-subtitle">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-modal">
      <h3 class="order-modal-title">
          Ordering from us is quick and easy! Fill out the form below and we will contact you !
      </h3>
  
      <label for="">
      </label>
      <input type="text">
  
      <label for="">
      </label>
      <input type="text">
  
      <label for="">
      </label>
      <input type="text">
  
      <button>Send</button>
    </div>
    <div class="order-follow">
      <img src="./img/order/order.jpg" alt="Fresh">
      <p>Follow us on our social networks:</p>
      <div class="slash">
        <a href="">instagram</a><p>/</p>
        <a href="">facebook</a><p>/</p>
        <a href="">youtube</a>
      </div>
    </div>
  </div>
</section>
<!-- </main>

<load src="partials/footer.html" />

<script type="module" src="./main.js"></script>
</body>
</html> -->