<section class="section vegetables">
  <div class="container">
    <h2 class="section-title">
      organic <span class="excerpt secondary">vegetables</span>
    </h2>
    <p class="section-subtitle">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-item">
      <li class="vegetables-list">
        <h3 class="vegetables-name">eggplant</h3>
        <p class="vegetables-price">60 UAH / kg</p>
        <img class="vegetables-img" src="" alt="eggplant-min">
      </li>
      <li  class="vegetables-item">
        <h3  class="vegetables-name">leek</h3>
        <p  class="vegetables-price">50 UAH / kg</p>
        <img class="vegetables-img" src="" alt="">
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">mushrooms</h3>
        <p class="vegetables-price">40 UAH / kg</p>
        <img class="vegetables-img" src="" alt="">
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">corn</h3>
        <p class="vegetables-price">60 UAH / kg</p>
        <img class="vegetables-img" src="" alt="">
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">sweet potatoes</h3>
        <p class="vegetables-price">50 UAH / kg</p>
        <img class="vegetables-img" src="" alt="">
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">carrot</h3>
        <p class="vegetables-price">40 UAH / kg</p>
        <img class="vegetables-img" src="" alt="">
      </li>
    </ul>
  </div>
</section>
