<section class="section vegetables" id="vegetables">
  <div class="container">
    <h2 class="section-title">
      organic <span class="excerpt secondary">vegetables</span>
    </h2>
    <p class="section-subtitle">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list js-vegetables-list">
      <li class="vegetables-item">
        <div class="card">
          <div class="card-face front">
            <h3 class="vegetables-name">eggplant</h3>
            <p class="vegetables-price">60 UAH / kg</p>
            <img
              class="vegetables-img"
              srcset="
                ./img/vegetables/eggplant-min.png   1x,
                ./img/vegetables/eggplant2x-min.png 2x
              "
              src="./img/vegetables/eggplant-min.png"
              alt="eggplant-min"
              width="282"
            />
          </div>
          <div class="card-face back">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
              eaque quidem officia. Ullam sunt et ipsa blanditiis, dolorum
              pariatur officiis laudantium molestiae! Explicabo nisi blanditiis
              eaque error id, autem soluta.
            </p>
          </div>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="card">
          <div class="card-face front">
            <h3 class="vegetables-name">leek</h3>
            <p class="vegetables-price">50 UAH / kg</p>
            <img
              class="vegetables-img"
              srcset="
                ./img/vegetables/leek-min.png   1x,
                ./img/vegetables/leek2x-min.png 2x
              "
              src="./img/vegetables/leek-min.png"
              alt="leek-min"
              width="282"
            />
          </div>
          <div class="card-face back">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
              eaque quidem officia. Ullam sunt et ipsa blanditiis, dolorum
              pariatur officiis laudantium molestiae! Explicabo nisi blanditiis
              eaque error id, autem soluta.
            </p>
          </div>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="card">
          <div class="card-face front">
            <h3 class="vegetables-name">mushrooms</h3>
            <p class="vegetables-price">40 UAH / kg</p>
            <img
              class="vegetables-img"
              srcset="
                ./img/vegetables/mushrooms-min.png   1x,
                ./img/vegetables/mushrooms2x-min.png 2x
              "
              src="./img/vegetables/mushrooms-min.png"
              alt="mushrooms-min"
              width="282"
            />
          </div>
          <div class="card-face back">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dignissimos in voluptate mollitia sunt cumque sed maxime nulla
              assumenda! Corporis, inventore officiis fuga omnis similique
              excepturi modi voluptates quis consectetur illo?
            </p>
          </div>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="card">
          <div class="card-face front">
            <h3 class="vegetables-name">corn</h3>
            <p class="vegetables-price">60 UAH / kg</p>
            <img
              class="vegetables-img"
              srcset="
                ./img/vegetables/corn-min.png   1x,
                ./img/vegetables/corn2x-min.png 2x
              "
              src="./img/vegetables/corn-min.png"
              alt="corn-min"
              width="282"
            />
          </div>
          <div class="card-face back">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dignissimos in voluptate mollitia sunt cumque sed maxime nulla
              assumenda! Corporis, inventore officiis fuga omnis similique
              excepturi modi voluptates quis consectetur illo?
            </p>
          </div>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="card">
          <div class="card-face front">
            <h3 class="vegetables-name">sweet potatoes</h3>
            <p class="vegetables-price">50 UAH / kg</p>
            <img
              class="vegetables-img"
              srcset="
                ./img/vegetables/sweetpotatoes-min.png   1x,
                ./img/vegetables/sweetpotatoes2x-min.png 2x
              "
              src="./img/vegetables/sweetpotatoes-min.png"
              alt="sweetpotatoes-min"
              width="282"
            />
          </div>
          <div class="card-face back">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dignissimos in voluptate mollitia sunt cumque sed maxime nulla
              assumenda! Corporis, inventore officiis fuga omnis similique
              excepturi modi voluptates quis consectetur illo?
            </p>
          </div>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="card">
          <div class="card-face front">
            <h3 class="vegetables-name">carrot</h3>
            <p class="vegetables-price">40 UAH / kg</p>
            <img
              class="vegetables-img"
              srcset="
                ./img/vegetables/carrot-min.png   1x,
                ./img/vegetables/carrot2x-min.png 2x
              "
              src="./img/vegetables/carrot-min.png"
              alt="carrot-min"
              width="282"
            />
          </div>
          <div class="card-face back">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dignissimos in voluptate mollitia sunt cumque sed maxime nulla
              assumenda! Corporis, inventore officiis fuga omnis similique
              excepturi modi voluptates quis consectetur illo?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
