.advertisement {
  background-color: #fbfbfb;
}

.ad-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #141414;
}

.ad-span {
  position: relative;
  z-index: 1;

  display: block;

  color: #fbfbfb;
}

.ad-span::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  width: calc(100% + 20px);
  height: calc(100% + 6px);

  background-color: #576f35;
  border-radius: 12px;
}

@media only screen and (min-width: 768px) {
  .ad-text {
    font-size: 64px;
    line-height: 1.09;
  }

  .ad-span::before {
    width: calc(100% + 32px);
    height: calc(100% + 16px);
  }
}

@media only screen and (min-width: 1280px) {
  .ad-text {
    max-width: 1060px;
    font-size: 76px;
    line-height: 1.05;
  }

  .ad-span {
    display: inline-block;
  }

  .ad-span::before {
    left: -13px;
    transform: translate(0, -50%);
    width: calc(100% + 19px);
    height: calc(100% + 10px);
  }
}
