.advertisement {
  width: 100%;
  height: 440px;
  background-color: #fbfbfb;
}

.ad-text {
  /* max-width: 1054px;
  height: 240px; */
  max-width: 335px;
  height: 306px;
  font-weight: 600;
  /* font-size: 76px; */
  font-size: 48px;
  /* line-height: 1.05; */
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.ad-span {
  display: inline-block;
  padding: 0 10px;
  color: #fbfbfb;
  background-color: #576f35;
  width: 355px;
  height: 102px;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.25;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .ad-text {
    max-width: 704px;
    height: 280px;
    font-size: 64px;
    line-height: 1.09;
  }

  .ad-span {
    width: 736px;
    height: 86px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  .ad-text {
    max-width: 1054px;
    height: 240px;
    font-size: 76px;
    line-height: 1.05;
  }

  .ad-span {
    width: 808px;
    height: 86px;
  }
}
