/* Section */

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.section-title.dark {
  color: #141414;
}

.section-subtitle {
  margin-bottom: 40px;
}

/* Button */

.button {
  display: block;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  min-width: 155px;
  padding: 16px 32px;

  font-weight: 600;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #7a3145;
  background-color: #fbfbfb;
  border: none;
  border-radius: 30px;
}

.button.primary:hover,
.button.primary:focus {
  color: rgba(122, 49, 69, 0.7);
}

.button.secondary {
  padding: 12px 12px;

  font-weight: 500;
  letter-spacing: -0.02em;

  color: #fbfbfb;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  backdrop-filter: blur(3px);
}

.button.secondary:hover,
.button.secondary:focus {
  color: #7a3145;
  background-color: #fbfbfb;
}

.button.secondary.is-active {
  background-color: #fbfbfb;
  color: #7a3145;
}

/* Highlighted text */

.excerpt.secondary {
  color: rgba(251, 251, 251, 0.3);
}

.excerpt.brand {
  color: #576f35;
}

.excerpt.accent {
  color: #7a3145;
}

.excerpt.bold {
  font-weight: 700;
  color: #141414;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Go up button */
.back-to-top-btn {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  z-index: 998;
  opacity: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: none;

  color: #fbfbfb;
  background-color: #bd7e8f;
  box-shadow: 0 0 15px -1px rgba(202, 26, 129, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back-to-top-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px -2px rgba(202, 26, 129, 0.9);
}

.back-to-top-btn.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.back-to-top-btn.is-hidden > .icon {
  animation: none;
}

.back-to-top-btn > .icon {
  fill: currentColor;

  animation: light 2500ms infinite cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.back-to-top-btn:hover > .icon {
  animation-play-state: paused;
}

@keyframes light {
  0% {
    filter: drop-shadow(0 0 0px currentColor);
  }

  50% {
    filter: drop-shadow(0 0 2px currentColor);
  }

  100% {
    filter: drop-shadow(0 0 0px currentColor);
  }
}

/* Media */

@media only screen and (max-width: 1279px) {
  .button.secondary {
    min-width: 115px;
  }
}

@media screen and (min-width: 768px) {
  /* Logo */
  .logo-img {
    width: 18px;
    height: 18px;
  }

  /* Button */

  .button.primary {
    font-size: 18px;
    line-height: 1.11;
  }

  .button.secondary {
    font-size: 16px;
    line-height: 1.25;
  }

  /* Section */

  .section-title {
    margin-bottom: 50px;

    font-size: 64px;
  }

  .section-subtitle {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  /* Button */

  .button.primary {
    color: #fbfbfb;
    background-color: #7a3145;
  }

  .button.primary:hover,
  .button.primary:focus {
    color: #fbfbfb;
    background-color: #622133;
  }

  /* Section */

  .section-title {
    margin-bottom: 25px;
  }

  .section-subtitle {
    margin-bottom: 50px;
  }
}
