.footer-svg-logo {
fill: #fbfbfb;;
}

.container {
    padding-top: 40px 20px;
}

.company-logo {
    margin-bottom: 14px;
}

.footer-text {
    color: #fbfbfb;;
font-weight: 500;
font-size: 14px;
line-height: 1.29em;
margin-bottom: 40px;
}

.footer-links {
    color: #fbfbfb;;
    display: flex;
    row-gap: 14px;
}

.footer-links-item {
    color: #fbfbfb;;
font-weight: 600;
font-size: 28px;
line-height: 1.0em;
letter-spacing: -0.01em;
}

.adress-list {
color: #fbfbfb;;
    display: flex;
    row-gap: 14px;
}

.adress-list-item {
    width: 179px;
    height: auto;
}