.hero {
  padding-top: 48px;
  width: 100%;
  /* height: 100vh; */
  background-color: #576f35;

  /* background-image: url(../img/hero/hero-desk-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 50%; */
}

.container-hero {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  /* max-width: 335px; */
}

.hero-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  /* margin: 0 auto; */
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}

.hero-img {
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 50px;
  }

  .container-hero {
    gap: 25px;
    margin-bottom: 50px;
  }

  .hero-title {
    font-size: 76px;
    /* width: 704px; */
  }

  .hero-text {
    /* width: 603px; */
  }

  .hero-img {
    width: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    display: flex;
    flex-direction: row;
  }

  .container-hero {
    gap: 28px;
    /* width: 502px; */
  }

  .hero-title {
    /* width: auto; */
  }

  .hero-text {
    /* width: auto;  */
  }
}
