.order-title {
    min-width: 335px;
    color: #fbfbfb;
}

.order-subtitle {
    min-width: 335px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #fbfbfb;
}

.order-holder {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.order-modal-container {
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 30px;
    padding: 40px 20px;
}

.order-modal-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08333;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 40px;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.order-form-user {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 30px;
    padding: 14px 16px;
    margin-bottom: 15px;
}

.order-comment {
    border-radius: 15px;
    min-height: 91px;
    padding: 14px 16px;
}

.order-form-user::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: start;
    color: #141414;
}

/* .order-form-user:hover,
.order-form-user:focus {
    border-color: #3CBC81;
} */

.order-form-btn {
    border-radius: 30px;
    padding: 16px 0;
    background: #576f35;
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}

.order-follow-container {
    border-radius: 30px;
    padding: 40px 20px;
    background: #576f35;
}

.order-follow-picture {
    border-radius: 15px;
    margin-bottom: 15px;
}

.order-follow-text {
    font-weight: 600;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 14px;
}

.order-follow-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

}

.order-item-link, .order-lixt-slash {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08333;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}



/*----- MEDIA -----*/


/*----- MIN-WIDTH: 768px -----*/
@media screen and (min-width: 768px) {

    .order-title-container {
        padding-right: 64px;
    }

    .order-subtitle {
        font-size: 16px;
        line-height: 1.25;
    }



    .order-holder {
        padding: 0 38px;
    }

    .order-modal-container {
        border-radius: 30px;
        padding: 50px 100px;
    }

    .order-modal-title {
        margin-bottom: 50px;
    }

    .order-form-user {
        padding: 16px;
    }

    .order-comment {
        margin-bottom: 25px;
    }



    .order-follow-container {
        padding: 50px;
    }

    .order-follow-picture {
        margin-bottom: 50px;
    }

    .order-follow-list {
        gap: 12px;
    }

    .order-follow-text {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.11111;
    }

    .order-item-link, .order-lixt-slash {
        font-size: 32px;
        line-height: 1;
    }
}


/*----- MIN-WIDTH: 1280px -----*/
@media screen and (min-width: 1280px) {
    .order-container {
        padding: 0 100px;
        width: 100%;
    }

    .order-title-container {
        padding: 0;
        max-width: 751px;
    }

    .order-title {
        font-size: 64px;
        line-height: 1;
    }
    
    .order-subtitle {
        font-size: 16px;
        line-height: 1.25;
    }




    .order-holder {
        padding: 0;
        flex-direction: row;
        width: 100%;
    }

    .order-modal-container {
        padding-right: 50px;
        padding-left: 50px;
        width: 100%;
    }

    .order-modal-title {
        font-family: "Inter Tight", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.08333;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
    }




    .order-follow-container {
        width: 100%;
    }
}