/* VEGETABLES */

.vegetables-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vegetables-item {
  cursor: pointer;

  perspective: 1500px;
}

.card {
  position: relative;

  width: 100%;
  min-height: 379px;
  height: 100%;

  transform: rotateY(0);

  transition: transform 500ms linear;
  transform-style: preserve-3d;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 32px;

  backface-visibility: hidden;
  border-radius: 40px;
}

.card-face.front {
  background-color: #fbfbfb;
}

.card-face.back {
  background-color: #fbfbfb;
  transform: rotateY(180deg);
  overflow-y: auto;
}

.vegetables-list .text {
  color: #141414;
}

.vegetables-name {
  margin-bottom: 12px;

  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;

  color: #7a3145;
}

.vegetables-price {
  margin-bottom: 14px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #141414;
}

.vegetables-img {
  margin: 0 auto;
}

/* VEGETABLES */
@media only screen and (min-width: 768px) {
  .section-title {
    max-width: 508px;
  }

  .section-subtitle {
    max-width: 626px;
  }

  .vegetables-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px 20px;
  }

  .vegetables-item {
    flex-basis: calc((100% - 20px) / 2);
  }

  .card-face {
    padding: 34px 30px;
  }

  .vegetables-price {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1280px) {
  .vegetables-list {
    gap: 28px 21px;
  }

  .vegetables-item {
    flex-basis: calc((100% - 2 * 21px) / 3);
  }

  .card-face {
    padding: 32px;
  }

  .vegetables-name {
    font-size: 32px;
  }
}
